article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b1b1b1;
    border: 5px solid #000;
    margin: 5px;
    border-radius: 15px;
    width: fit-content;
  }
  
  article div {
    padding: 10px 5px 10px 5px;
    width: 200px;
    min-width: auto;
    height: 100px;
    margin: 2px;
    background-color: rgb(62, 71, 177);
    color: #fff;
    border-radius: 10px;
  }
  
  article > div > p {
    font-weight: bold;
  }
  
  .diff-and-color {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-weight: bold;
  }
  
  article > div > button {
    font-weight: bold;
    width: 150px;
  }
  
  .update-btn {
    background-color: #2dc62d;
    color: #000;
  }
  
  .delete-btn {
    background-color: #b33838;
    color: #fff;
  }
  
  .btn {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #3a3838;
    margin-top: 10px;
    padding: 2px;
    border-style: none;
    border-radius: 7.5px;
    font-size: .75rem;
  }
  
  .btn:hover {
    box-shadow: 1px 1px 5px 1px #202020;
  }

  .btn:active {
    box-shadow: none;
  }