button {
    width: 8rem;
    padding: 2px;
    margin: auto;
}

.add-climb-nav-links {
    text-decoration: none;
    color: #000;
}

.link-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .35rem auto 0 auto;
}