.header {
  background-color: #000;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.home-link {
  color: #fff;
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 1rem;
  margin: auto 1rem auto auto;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: .5rem;
  padding: .5rem;
  font-weight: bold;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #fff;
  color: #000;
}

.nav-link:after {
  background-color: #fff;
  color: #000;
}