.FacilityList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}

.FacilityList-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b1b1b1;
  border: 5px solid #000;
  margin: 5px;
  border-radius: 15px;
  width: fit-content;
}

.FacilityList-cards div {
  padding: 10px 5px 10px 5px;
  width: 200px;
  min-width: auto;
  height: 220px;
  margin: 2px;
  background-color: #3e47b1;
  color: #fff;
  border-radius: 10px;
}

.FacilityList-cards>div>p {
  font-weight: bold;
}

article>div>button {
  font-weight: bold;
  width: 150px;
}

.update-facility {
  background-color: #2dc62d;
  color: #000;
}

.delete-facility {
  background-color: #b33838;
  color: #fff;
}

.facility-climb-log {
  background-color: #c6af2d;
}

.my-climbs-link {
  text-decoration: none;
  color: #000;
}

.btn {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #3a3838;
  margin-top: 10px;
  padding: 2px;
  border-style: none;
  border-radius: 7.5px;
  font-size: .75rem;
}

.btn:hover {
  box-shadow: 1px 1px 5px 1px #202020;
}

.btn:active {
  box-shadow: none;
}