.footer {
    background-color: #000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: .75rem;
  }