* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.add-climb {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-align > button {
  width: 100px;
  margin: .5rem;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #000;
  margin: 5px;
  border-radius: 15px;
  width: fit-content;
}

article div {
  padding: 10px 5px 10px 5px;
  width: 200px;
  min-width: auto;
  height: 100px;
  margin: 2px;
  background-color: rgb(62, 71, 177);
  color: #fff;
  border-radius: 10px;
}

article > div > p {
  font-weight: bold;
}

.update-btn {
  cursor: pointer;
  background-color: #2dc62d;
  margin: 10px;
  padding: 2px;
  border: 1px solid #000;
  color: #000;
  font-size: .75rem;
}

.delete-btn {
  cursor: pointer;
  background-color: #b33838;
  margin: 10px;
  padding: 2px;
  border: 1px solid #000;
  color: #fff;
  font-size: .75rem;
}
